
{% extends "base.html" %}

{% block content %}
	<h1>Sign In</h1>
	<form action="" method="POST" name="login">
		{{ form.hidden_tag() }} 
		<!-- Username -->
		<p>
			{{ form.username.label }}<br>
			{{ form.username(size=32) }}<br>
			{% for error in form.username.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<!-- End Username -->

		<!-- Password -->
		<p>
			{{ form.password.label }}<br>
			{{ form.password(size=32)}}<br>
			{% for error in form.password.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<!-- End Password -->

		<!-- Remember -->
		<p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
		<!-- End Remember -->

		<!-- Submit form-->
		<p>{{ form.submit() }}</p>
		<!-- End submit -->

	</form>

	<!-- Create account -->
	<p>Don't have an account? <a href={{ url_for('signup') }}">Click to create an account!</a></p>
	<!-- End Create-->

{% endblock %}

